.DS_Store
.deno/
bin/
coverage/
dist/
node_modules/
!src/bundled/typescript/types/node_modules/
!src/bundled/typescript/types/node_modules/**
.worktrees/
soundscript-out/
soundscript-expanded/
*.vsix
